html {
    background-color: black;
    text-align: center;
}

.main-heading {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
    margin: auto;
}

.top-link a {
    color: aquamarine;
    font-size: 25px;
}

.middle-header {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.middle-text {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

footer {
    color: gray;
    text-align: right;
    font-size: 25px;
}